@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-color: rgb(180, 139, 234);
    color: #2f2f2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

section {
    width: 85%;
    display: table;
    margin: 60px auto;
    padding-bottom: 60px;
}

#about, #skill {
    border-bottom: 1px solid #ddd;
}

.wrapper {
    margin: 50px auto;
    display: flex;
}
.left-item {
    width: 20%;
}
.right-item {
    width: 70%;
    border-radius: 5px;
    background-color: #fff;
}

h2, h3 {
    font-family: sans-serif;
}
h3{
    font-size: 24px;
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(180, 139, 234);
}

h4 {
    margin-top: 30px;
}

#my_info{
    display: table;
    width: auto;
    margin: 0 auto;
    padding-top: 50px;
}

#my_info h2 {
    display: none;
}

#my_info img {
    width: 100px;
    height: auto;
    border-radius: 100px;
    background-color: #fff;
    padding: 10px;
} 

table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
    margin: 0 auto;
}

th {
    text-align: left;
    padding-right: 20px;
}

th, td {
    font-size: 12px;
}

.name {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(180, 139, 234);
}

ul {
    list-style: none;
    padding: 0;
}

#contact {
    display: table;
    width: auto;
    margin: 10px auto;
}

ul li {
    margin-bottom: 4px;
}

ul li::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    color: #fff;
}

ul li:nth-child(1)::before {
    content: '\f095';
	font-family: 'ForkAwesome';
}
ul li:nth-child(2)::before {
    content: '\f0e0';
	font-family: 'ForkAwesome';
}
ul li:nth-child(3)::before {
    content: '\f16d';
	font-family: 'ForkAwesome';
}
ul li:nth-child(4)::before {
    content: '\f09e';
	font-family: 'ForkAwesome';
}

#skill ol {
    list-style: none;
    padding: 0;
}

#skill li {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 4px 10px;
    border-radius: 32px;
    margin: 0 8px 8px 0;
}

#skill li::before {
    content: "#";
}

#project ol {
    list-style: none;
    padding: 0;
}

#project li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#project li:last-child {
    border-bottom: none;
}

#project video {
    width: 100%;
}

#project img {
    width: 100%;
}

#project a {
    color: rgb(180, 139, 234);
    display: inline-block;
    border-radius: 4px;
    padding: 2px 8px 2px 0;
}

#project a:hover {
    background-color: #2f2f2f;
    text-decoration: none;
    padding: 2px 8px;
    transition: padding 0.2s;
}




